{{#each blogPostMap as |blogpost|}}
<div class="blogCard">
<h4>Title: {{blogpost.title}}</h4>
<p>Description: {{blogpost.description}}</p>
<p>Date Created: {{blogpost.date_created}}</p>
<h5>Comments: </h5>
{{#each blogpost.comments as |comment|}}
<p>Comment: {{comment.content}} From: {{comment.user_id}}</p>
{{/each}}
<form>
    <h6>Leave a comment?</h6>
      <input class="commentContent" id="content{{blogpost.id}}" type="text"/>
      <input type="button" class="submitComment" id="{{blogpost.id}}"value="Post"/>
</form>
</div>
{{/each}}

<script src="./js/submitComment.js"></script>