{{#each blogPostMap as |blogpost|}}
<div class="blogCard">
<h4>{{blogpost.title}}</h4>
<p>{{blogpost.description}}</p>
<p>{{blogpost.date_created}}</p>
{{#each blogpost.comments as |comment|}}
<p>{{comment.content}}</p>
<p>{{comment.user_id}}</p>
{{/each}}
<form>
    <h4>Leave a comment?</h4>
      <label>Comment</label>
      <input class="commentContent" id="content{{blogpost.id}}" type="text"/>
      <input type="button" class="submitComment" id="{{blogpost.id}}"value="Post"/>
</form>
</div>
{{/each}}

<script src="./js/submitComment.js"></script>